*build*
*.o
*.identifier
*.Identifier
*.wav
*.vscode*
Model/dataset
Model/dataset_test/*
dataset-converter/dataset
dataset-converter/mini_dataset
dataset-converter/output_frames
*.crdownload
*.zip

*.csv